{% extends "base1.html" %}
{% block title %}The KanBan | Dashboard{% endblock %}
{% block content %}
<div class="top">
    <div id="confirmbox">
      <h2>Do you really want to delete {{list}} ?</h2>
      <form action="/dlist/{{list}}/delete" method="post">
        <div class="sub">
          <a href="/dlist/{{list}}/delete"><button class="newb" id="btn">Yes</button></a>
        </div>
      </form>
      <div class="sub">
        <button onclick="history.back()" class="newb" id="btnc">Cancel</button>
      </div>
    </div>
</div>
{% endblock %}