{% extends "base.html" %}
{% block title %}The KanBan | Home{% endblock %}
{% block content %}

    <h1 class="h">The</h1>
    <h1 class="h" id="logo">KanBan</h1>
    <!-- <p>Managing your Task Simplayy</p> -->

    <div class="sub1">
        <a href="/login"><button type="submit" class="buton" id="btn1">Login</button></a>
        
        <span style="visibility: hidden;">______</span>

        <a href="/register"><button type="submit" class="buton" id="btn1">Register</button></a>
    </div>

{% endblock %}

